<div class="body_details_leads">
    <div class="body_details-stock">{{ _data_.stock }}</div>
    <div class="body_details-no">{{ _data_.no }}</div>
    <div class="body_details-date">{{ _data_.date }}</div>
    <div class="body_details-quantity">{{ _data_.quantity }}</div>
    <div class="body_details-price">{{ _data_.price }}</div>
    <div class="body_details-sum">{{ _data_.sum }}</div>
</div>