<div class="modal-product-history_el">
    <div class="history_el-no">{{ data.no }}</div>
    <div class="history_el-date">{{ data.date }}</div>
    <div class="history_el-quantity">{{ data.quantity }}</div>
    <div class="history_el-price_purchase">{{ data.price_purchase }}</div>
    <div class="history_el-remainder">{{ data.remainder }}</div>

</div>




