<div class="modal_consumption_element" id="{{ id }}">
    <div class="m_con_el-no">{{ no }}</div>
    <div class="m_con_el-article">{{ article }}</div>
    <div class="m_con_el-title">{{ title }}</div>
    <div class="m_con_el-quantity">{{ quantity }}</div>
    <div class="m_con_el-selling_price">{{ selling_price }}</div>
    <div class="m_con_el-sum">{{ sum }}</div>
</div>