<div class="digital_funnel--item">
    <div class="digital_funnel--item--label">
        <label class="pragma-lirax-amo--digital_funnel--item---label"
               for="pragma-lirax-enter_number_funnel_{{ name_funnel }}"
               id="{{ id_funnel }}">{{ name_funnel }}
        </label>
    </div>
    <div class="digital_funnel--item--input">
        <input name="" required class="pragma-lirax-amo-enter_number_funnel text-input {{ id_funnel }}"
               id="using_shop_{{ id_funnel }}" type="number" value="{{ name_funnel }}" autocomplete="off">
    </div>


</div>