<div class="body_el_coming" id="{{ id }}" data-table="pragma_table_{{ tbl }}">


    <div class="body_el_coming_change">
        <a title="Редактировать">
            <button type="button" class="button-input pragma_coming_edit " tabindex="">
                   <span class="button-input-inner ">
                       <span class="js-list-row__cell-edit " title="Редактировать">
                          <svg class="svg-icon list-row__cell-edit-icon list-row__cell-edit-icon_pencil svg-common--edit-pencil-dims">
                              <use xlink:href="#common--edit-pencil"></use>
                          </svg>
                       </span>
                   </span>
            </button>
        </a>
    </div>
    <div class="body_el_coming-No">
        <div class="body_el_coming-No-label">
            {{ no }}
        </div>
    </div>
    <div class="body_el_coming-num_post">
        <div class="body_el_coming-num_post-label">
            {{ num_supply }}
        </div>
    </div>
    <div class="body_el_coming-date">
        <div class="body_el_coming-date-label">
            {{ date }}
        </div>
    </div>
    <div class="body_el_coming-provision">
        <div class="body_el_coming-provision-label">
            {{ provision }}
        </div>
    </div>
</div>

