<div class="el_modal_leads_product" id="{{ id }}" data-table="pragma_table_{{ tbl }}">
    <div class="modal_leads-checkP-el">
        <input type="checkbox"  id="prod_id_{{ id }}" class="pragma-add_prodP">
    </div>

    <div class="modal_leads-photo-el">
        <img class="modal_leads-photo-el-icon" src="{{ url_icon }}" alt="">
    </div>

    <div class="modal_leads-name-el">
        <div class="modal_leads-name-el-label">
            {{ name }}
        </div>
    </div>
    <div class="modal_leads-article-el">
        <div class="modal_leads-article-el-label">
            {{ article }}
        </div>
    </div>
    <div class="modal_leads-quantity-el">
        <div class="modal_leads-quantity-el-label">
            {{ quantity }}
        </div>
    </div>
    <div class="modal_leads-price_sail-el">
        <div class="modal_leads-price_sail-el-label">
            {{ price_sail }}
        </div>
    </div>
</div>
