<div class="el_table_product" id="{{ id }}" data-table="pragma_table_{{ tbl }}">
    <div class="table-change-el">
        <a title="Редактировать">
            <button type="button" class="button-input pragma_catalog_edit " tabindex="">
            <span class="button-input-inner ">
                <span class="js-list-row__cell-edit " title="Редактировать">
                   <svg class="svg-icon list-row__cell-edit-icon list-row__cell-edit-icon_pencil svg-common--edit-pencil-dims">
                       <use xlink:href="#common--edit-pencil"></use>
                   </svg>
                </span>
            </span>
            </button>
        </a>
    </div>
    <div class="table-photo-el">
        <img class="table-photo-el-icon" src="{{ url_icon }}" alt="">
    </div>
    <div class="table-name-el">
        <div class="table-name-el-label">
            {{ name }}
        </div>
    </div>
    <div class="table-article-el">
        <div class="table-article-el-label">
            {{ article }}
        </div>
    </div>
    <div class="table-quantity-el">
        <div class="table-quantity-el-label">
            {{ quantity }} {{ selected }}
        </div>
    </div>
    <div class="table-price_sail-el">
        <div class="table-price_sail-el-label">
            {{ selling_price }}
        </div>
    </div>
    <div class="table-btn_info">
        <button type="button" class="button-input    productInfo-btn_info_el" tabindex="" id="btn_info_el">
            <span class="button-input-inner ">
                <span class="button-input-inner__text">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20pt" height="20pt"
     viewBox="0 0 20 20" version="1.1">
<g id="surface1">
<path style=" stroke:none;fill-rule:nonzero;fill:#ADADAD;fill-opacity:1;"
      d="M 10 1.875 C 5.515625 1.875 1.875 5.515625 1.875 10 C 1.875 14.484375 5.515625 18.125 10 18.125 C 14.484375 18.125 18.125 14.484375 18.125 10 C 18.125 5.515625 14.484375 1.875 10 1.875 Z M 10 3.125 C 13.792969 3.125 16.875 6.207031 16.875 10 C 16.875 13.792969 13.792969 16.875 10 16.875 C 6.207031 16.875 3.125 13.792969 3.125 10 C 3.125 6.207031 6.207031 3.125 10 3.125 Z M 10 3.125 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:#ADADAD;fill-opacity:1;"
      d="M 11.25 6.40625 C 11.25 7.183594 10.621094 7.8125 9.84375 7.8125 C 9.066406 7.8125 8.4375 7.183594 8.4375 6.40625 C 8.4375 5.628906 9.066406 5 9.84375 5 C 10.621094 5 11.25 5.628906 11.25 6.40625 Z M 11.25 6.40625 "/>
<path style=" stroke:none;fill-rule:nonzero;fill:#ADADAD;fill-opacity:1;"
      d="M 11.332031 13.871094 C 11.324219 14.210938 11.484375 14.308594 11.875 14.347656 L 12.5 14.359375 L 12.5 15 L 7.617188 15 L 7.617188 14.359375 L 8.304688 14.347656 C 8.714844 14.335938 8.8125 14.175781 8.84375 13.871094 L 8.84375 10.019531 C 8.847656 9.410156 8.058594 9.503906 7.5 9.523438 L 7.5 8.886719 L 11.332031 8.75 "/>
</g>
</svg>


                </span>
            </span>
        </button>
    </div>

</div>