<div class="ElTableConsumption-table_cons" id="{{ id }}" data-table="pragma_table_{{ tbl }}">
    <div class="table_cons-status"></div>
    <div class="table_cons-no">
        <div class="table_cons-no-label">
            {{ no }}
        </div>
        </div>
    <div class="table_cons-date"><div class="table_cons-date-label"> {{ date }}</div></div>
    <div class="table_cons-selling_price"><div class="table_cons-selling_price-label"> {{ selling_price }}</div></div>
    <div class="table_cons-responsible"><div class="table_cons-responsible-label"> {{ responsible }}</div></div>
    <div class="table_cons-leads"><div class="table_cons-leads-label"><a target="_blank" href="{{ href_leads }}">{{ name_leads }}</a></div></div>
    <div class="table_cons-contact"><div class="table_cons-contact-label"><a target="_blank" href="{{ href_contact }}">{{ name_contact }}</a> </div></div>
</div>
